.authorization {
  margin-top: 10px;
  margin-left: auto;
}

.authorization__login {
  width: 113px;
  padding-top: 9px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: inherit;
  color: $text-alternative;
  text-decoration: none;
  background-color: $text-additional;
  border-radius: 4px;
}

.authorization__login:hover {
  background-color: #cc221b;
}

.authorization__list {
  @include list-reset;
  display: none;
  min-height: 38px;
}

.authorization__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: inherit;
  color: $text-default;
  text-decoration: none;
}

.authorization__name:hover {
  text-decoration: underline;
}

.authorization__logout {
  margin-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: inherit;
  text-align: center;
  color: $text-additional;
  text-decoration: none;
}

.authorization__logout:hover {
  text-decoration: underline;
}

@media (max-width: $width-desktop) {
  .authorization {
    width: 100%;
  }

  .authorization__item {
    width: 100%;
    text-align: center;
  }

  .authorization__login {
    display: block;
    width: 100%;
    text-align: center;
  }
}
