.channels {
  display: none;
  margin-top: 36px;
  margin-bottom: 72px;
}

.channels__list {
  @include list-reset;
  position: relative;
  max-height: 696px;
  margin-right: -16px;
  padding-right: 8px;
  overflow-y: scroll;
}


.channels__list::-webkit-scrollbar {
  width: 8px;
  background: #f2f2f2;
  border-radius: 2px;
}

.channels__list::-webkit-scrollbar-thumb {
  height: 504px;
  background: #bdbdbd;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
}

.channels__item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 21px 24px 19px 143px;
  background: #f2f2f2;
  border-radius: 8px;
}

.channels__item:last-child {
  margin-bottom: 0;
}

.channels__logo {
  margin-right: 143px;
}

.channels__title {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: inherit;
  color: $text-default;
}

.channels__sublist {
  @include list-reset;
}

.channels__subitem {
  display: flex;
  margin-bottom: 12px;
}

.channels__subitem:first-child {
  color: $text-additional;
}

.channels__subitem:last-child {
  margin-bottom: 0;
}

.channels__time {
  margin-right: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: inherit;
}

.channels__broadcast {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: inherit;
}

@media (max-width: $width-tablet) {
  .channels__item {
    flex-direction: column;
    padding: 20px;
  }

  .channels__logo {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .channels__title {
    margin-bottom: 20px;
    text-align: center;
  }

  .channels__broadcast,
  .channels__time {
    font-size: 14px;
  }

  .channels__subitem {
    margin-bottom: 10px;
  }
}
