.footer {
  padding-top: 22px;
  padding-bottom: 28px;
  background: #f2f2f2;
}

.footer__logo {
  width: 32px;
  height: 64px;
  margin-top: 5px;
  margin-right: 40px;
}

@media (max-width: $width-tablet) {
  .footer__logo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
