.navigation {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.navigation__list {
  @include list-reset;
  display: flex;
}

.navigation__item:first-child {
  margin-right: 25px;
}

.navigation__link {
  padding-bottom: 9px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  font-family: inherit;
  color: $text-default;
  text-decoration: none;
}

.navigation__item--active .navigation__link {
  color: $text-additional;
  border-bottom: 2px solid $text-additional;
}

@media (max-width: $width-desktop) {
  .navigation__link {
    font-size: 22px;
  }
}
