@font-face {
  font-weight: 400;
  font-family: "Font-Name";
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/font-name.woff2") format("woff2"),
    url("../fonts/font-name.woff") format("woff"),
    url("../fonts/font-name.ttf") format("truetype");
}
