// Fonts: Text fonts
$font-default: "Rubik", "Arial", sans-serif;

// Colors: Text colors
$text-default: #333333;
$text-alternative: #ffffff;
$text-additional: #e5261e;

// Colors: Buttons colors
$button-default: #000000;

// Colors: Backgrounds colors
$background-default: #000000;

// Colors: Border color
$border-default: #000000;

// Media width
$width-desktop: 1440px;
$width-tablet: 768px;
$width-mobile: 320px;

// Device resolution
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
